@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .loader {
    width: 45px;
    aspect-ratio: 0.5;
    --c: no-repeat linear-gradient(#fafaff 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }

  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    ::-webkit-scrollbar {
      width: 8px;
      /* Width of the scrollbar */
    }

    /* Track (background) */
    ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.2); /* Partially transparent track */
    }

    /* Handle (thumb) */
    ::-webkit-scrollbar-thumb {
      background: #c9c5f3; /* Color of the scrollbar handle */
      border-radius: 4px; /* Round the edges of the handle */
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.6);
    }
  }
}

@layer components {
  .button-style {
    @apply inline-block rounded border border-outline bg-purple p-2 font-semibold transition-colors duration-100 hover:bg-h-purple focus:outline-none focus:ring-1  focus:ring-font-dark disabled:cursor-not-allowed;
  }

  .input-ring {
    @apply rounded bg-font px-2 py-1 text-sm text-secondary-bg focus:outline-none focus:ring-1 focus:ring-input-outline focus:ring-offset-2 focus:ring-offset-header-bg sm:px-3 sm:text-base;
  }
}
